<!DOCTYPE html>
<html>
<head>
  <title>QA with AI by Cmorodinka</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <header class="bg-dark text-white py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
           <h1 class="my-2"><%= image_tag('cmorodinka.png', alt: 'QA with AI', height: 60) %> QA with AI by Cmorodinka</h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container my-4">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <%= link_to t('navigation.about'), about_path, class: 'list-group-item list-group-item-action' %>
          <%= link_to t('navigation.text_generator/index'), text_generator_index_path, class: 'list-group-item list-group-item-action' %>
          <%= link_to t('navigation.results'), results_path, class: 'list-group-item list-group-item-action' %>
          <%= link_to t('navigation.execution'), execution_path, class: 'list-group-item list-group-item-action active'%>
          <%= link_to t('navigation.passed_executions'), passed_executions_path, class: 'list-group-item list-group-item-action' %>
          <%= link_to t('navigation.failed_executions'), failed_executions_path, class: 'list-group-item list-group-item-action' %>
          <%= link_to 'FAQ', about_path, class: 'list-group-item list-group-item-action' %>       
        </div>
      </div>
      <div class="col-md-9">
        <h1 class="mb-4">Executed test cases</h1>
        <table class="table">
          <thead>
            <tr>
              <th>Date and Time</th>
              <th>Case name</th>
              <th>Case steps</th>
              <th>Passed</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% @results.each do |result| %>
              <tr>
                <td><%= result.created_at.strftime("%d/%m/%Y %H:%M:%S") %></td>
                <td><%= result.input_text %></td>
                <td><%= simple_format(result.output_text) %></td>
                <td><%= check_box_tag "pass[#{result.id}]" %></td>
                <td>
                  <%= button_to 'Delete', result, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= submit_tag "Save Results", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <footer class="bg-dark text-white py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="m-0 text-center">&copy; <%= Time.now.year %> Cmorodinka</p>
        </div>
      </div>
    </div>
  </footer>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.5.1.slim.min.js', 'https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js', 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' %>
</body>
</html>
