<!DOCTYPE html>
<html>
<head>
  <title>QA with AI by Cmorodinka</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <header class="bg-dark text-white py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
           <h1 class="my-2"><%= image_tag('cmorodinka.png', alt: 'QA with AI', height: 60) %> QA with AI by Cmorodinka</h1>
        </div>
      </div>
    </div>
  </header>
<div class="container">
  <h1>Admin Panel</h1>  
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Assigned Test Cases</th>
          <th>Completed Test Cycles</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.role %></td>
            <td><%= rand(100) %></td>
            <td><%= rand(10) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <footer class="bg-dark text-white py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="m-0 text-center">&copy; <%= Time.now.year %> Cmorodinka</p>
        </div>
      </div>
    </div>
  </footer>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.5.1.slim.min.js', 'https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js', 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' %>
</body>
</html>
