<!DOCTYPE html>
<html>
<head>
  <title>QA with AI by Cmorodinka</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <header class="bg-dark text-white py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
           <h1 class="my-2"><%= image_tag('cmorodinka.png', alt: 'QA with AI', height: 60) %> QA with AI by Cmorodinka</h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container my-4">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <%= link_to t('navigation.about'), about_path, class: 'list-group-item list-group-item-action' %>
          <%= link_to t('navigation.text_generator/index'), text_generator_index_path, class: 'list-group-item list-group-item-action active' %>
          <%= link_to t('navigation.results'), results_path, class: 'list-group-item list-group-item-action' %>
          <%= link_to t('navigation.execution'), execution_path, class: 'list-group-item list-group-item-action'%>
          <%= link_to t('navigation.passed_executions'), passed_executions_path, class: 'list-group-item list-group-item-action' %>
          <%= link_to t('navigation.failed_executions'), failed_executions_path, class: 'list-group-item list-group-item-action' %>
          <%= link_to 'FAQ', about_path, class: 'list-group-item list-group-item-action' %> 
        </div>
      </div>
      <div class="col-md-9">
        <form id="text-generator-form">
          <div class="form-group">
            <label for="prompt">Enter a prompt:</label>
            <textarea class="form-control" id="prompt" name="prompt" style="height: 500px; width: 600px;" autofocus></textarea>
          </div>
          <button type="submit" id="generate-btn" class="btn btn-primary"><%= t('generate_button') %></button>
          <button type="button" id="clear-btn" class="btn btn-secondary ml-2">Clear Input</button>
        </form>
        <div id="generated-text" class="mt-4"></div>
      </div>

    </div>
  </div>
  <footer class="bg-dark text-white py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="m-0 text-center">&copy; <%= Time.now.year %> Cmorodinka</p>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    document.getElementById('text-generator-form').addEventListener('submit', async (event) => {
      event.preventDefault();
      const prompt = document.getElementById('prompt').value;
      const response = await fetch('/text_generator/generate', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRF-Token': document.getElementsByName('csrf-token')[0].content,
        },
        body: JSON.stringify({ prompt }),
      });

      const data = await response.json();
      document.getElementById('generated-text').innerText = data.generated_text;
      // Remove the following line to prevent redirection
      // window.location.href = `/results/${data.result_id}`;
    });

    document.getElementById('clear-btn').addEventListener('click', () => {
      document.getElementById('prompt').value = '';
      document.getElementById('generated-text').innerText = '';
    });
  </script>
</body>
</html>
