<!DOCTYPE html>
<html>
<head>
  <title>About - QA with AI by Cmorodinka</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <header class="bg-dark text-white py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="my-2"><%= image_tag('cmorodinka.png', alt: 'QA with AI', height: 60) %> QA with AI by Cmorodinka</h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container my-4">
    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <%= link_to t('navigation.about'), about_path, class: 'list-group-item list-group-item-action active' %>
          <%= link_to t('navigation.text_generator/index'), text_generator_index_path, class: 'list-group-item list-group-item-action' %>
          <%= link_to t('navigation.results'), results_path, class: 'list-group-item list-group-item-action' %>
          <%= link_to t('navigation.execution'), execution_path, class: 'list-group-item list-group-item-action' %>
          <%= link_to t('navigation.passed_executions'), passed_executions_path, class: 'list-group-item list-group-item-action' %>
          <%= link_to t('navigation.failed_executions'), failed_executions_path, class: 'list-group-item list-group-item-action' %>
        </div>
      </div>
      <div class="col-md-9">
        <h1>About my project</h1>
        <p>My mission is to create an easy-to-use test generator tool for OpenAI API. </p>
        <p>It is test project, but I planned constantly working on improving to provide the best experience possible for my users.</p> 
        <p>I'm highly skilled Software in test developer and passionate about developing tests cutting-edge software.</p>

        <h2>Technologies Used</h2>
        <p>I used the following technologies to create my OpenAI API based test generator:</p>
          <ul>
            <li>Ruby version 3.0.0</li>
            <li>Rails version 6.1.7.3</li>
            <li>OpenAI API</li>
            <li>SQLite database</li>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>Bootstrap 4.5.2</li>
            <li>JavaScript</li>
            <li>JQuery 3.5.1</li>
          </ul>

         <p>My code is hosted on GitHub, and I use Git for version control.</p> 

        <p>If you have any suggestions or feedback, please don't hesitate to contact me.</p> 
        <p>Thank you for using QA with AI!</p>

      </div>
    </div>
  </div>
  <%= javascript_include_tag 'https://code.jquery.com/jquery-3.5.1.slim.min.js', 'https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js', 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js' %>
  <footer class="bg-dark text-white py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="m-0 text-center">&copy; <%= Time.now.year %> Cmorodinka</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
